
<!DOCTYPE html>
<html>
  <head>
    <link href="https://pkgpkr.com/bulma.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://pkgpkr.com/fontawesome/css/all.min.css" type="text/css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <title>Package Picker - Choose Good Packages, Faster</title>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3ZJTB9DHQG"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-3ZJTB9DHQG');
		</script>
  </head>
  <body>
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1">
            <i class="fas fa-box"></i>
            Package Picker
          </h1>
          <h2 class="subtitle">
            Choose Good Packages, Faster.
          </h2>
          <a href="https://forms.gle/MB7SxASojM9Fgbwf8" target="_blank" class="button is-link">
            Sign up for early access&nbsp;
            <i class="fas fa-external-link-alt"></i>
          </a>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="content is-medium">
          <p>
            Modern applications rely heavily on OSS packages. So how do you find
            good ones? Search engines only know what you tell them, and humans
            can't keep track of the millions of OSS packages available.
          </p>
          <p>
            Our approach is to instead look at the dependencies in your
            application. We feed these to a machine learning algorithm, which
            recommends packages that are tailored to your specific application.
          </p>
        </div>
      </div>
    </section>
    <section class="section has-background-grey-lighter">
      <div class="container has-text-centered">
        <div class="content is-medium">
          <h2>
            What do we look for in a package?
          </h2>
          <h3>
            <i class="fas fa-chart-line"></i>
            Lasting
          </h3>
          <p>
            Good packages aren't just popular today, but tomorrow as well.
          </p>
          <h3>
            <i class="far fa-check-square"></i>
            Compatible
          </h3>
          <p>
            Good packages play nicely with the packages you already use.
          </p>
          <h3>
            <i class="far fa-copy"></i>
            Unique
          </h3>
          <p>
            Good packages don't duplicate functionality in other packages.
          </p>
          <h3>
            <i class="fas fa-recycle"></i>
            Reused
          </h3>
          <p>
            Good packages are often the ones your company already uses.
          </p>
          <h3>
            <i class="far fa-gem"></i>
            Exceptional
          </h3>
          <p>
            Good packages are the needles in a haystack of millions of packages.
          </p>
        </div>
      </div>
    </section>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h2 class="title is-5">
            Want to try Package Picker when it's available?
          </h2>
          <a href="https://forms.gle/MB7SxASojM9Fgbwf8" target="_blank" class="button">
            Sign up for early access&nbsp;
            <i class="fas fa-external-link-alt"></i>
          </a>
        </div>
      </div>
    </section>
    <footer class="footer has-background-black has-text-light">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p>
              Copyright &copy; 2020
            </p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <p>
              Icons courtesy of <a href="https://fontawesome.com/license" target="_blank">Font Awesome</a>
            </p>
          </div>
      </div>
    </footer>
  </body>
</html>
